doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Profile
main#main-holder
    h1 User Profile
    p Name: #{user.name}
    p Email: #{user.email}
    p Given Name: #{user.given_name}
    p Family Name: #{user.family_name}
